<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
    {{ if not .IsRoot }}
    <a href="catalogue?path={{ .ParentUrl }}">Back</a>
    {{ end }}
    {{ range .Children }}
        <p>{{ if .IsDirectory }}
            <a href="catalogue?path={{ .Url }}">{{ .Title }}</a>
        {{ else }}
            {{ if eq .TypeName "video"}}<img src="icon?path={{ .Url }}"><br> {{ end }}
            {{ .Title }}
        {{ end }}</p>
    {{ end }}
</body>
</html>